<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}">
<div id="container" layout:fragment="content">
    <!-- location_area -->
    <div class="location_area customer">
        <div class="box_inner">
            <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
            <p class="location">고객센터 <span class="path">/</span> 공지사항</p>
            <ul class="page_menu clear">
                <li><a href="#" class="on">공지사항</a></li>
                <li><a href="#">문의하기</a></li>
            </ul>
        </div>
    </div>
    <!-- //location_area -->

    <!-- bodytext_area -->
    <div class="bodytext_area box_inner">
        <form action="/ex/notice_list" method="get" class="minisrch_form">
            <fieldset>
                <legend>검색</legend>
                <input type="text" name="keyword" class="tbox" th:value="${pageRequestDTO.keyword}" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요">
                <button type="submit" class="btn_srch">검색</button>
                <a href="/ex/notice_add" class="btn_srch">등록</a>
            </fieldset>
        </form>
        <table class="bbsListTbl" summary="번호,제목,조회수,작성일 등을 제공하는 표">
            <caption class="hdd">공지사항  목록</caption>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">조회수</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody th:with="link = ${pageRequestDTO.getLink()}">
            <tr th:each="notice:${responseDTO.dtoList}">
                <td th:text="${notice.no}"></td>
                <td class="tit_notice"><a th:href="|@{/ex/notice_view(no=${notice.no})}&${link}|">[[${notice.title}]]</a> </td>
                <td>[[${notice.count}]]</td>
                <td>[[${#temporals.format(notice.regDate, 'yyyy-MM-dd')}]]</td>
            </tr>
            </tbody>
        </table>
        <!--<div class="float-end">
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                    <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end +1}">다음</a>
                </li>
            </ul>
        </div>-->
        <div class="pagination">
            <a href="javascript:;" class="firstpage pbtn"><img src="/img/btn_firstpage.png" th:data-num="1" alt="처음 페이지로 이동"></a>
            <a href="javascript:;" th:if="${responseDTO.prev}"  class="prevpage pbtn">
                <img th:data-num="${responseDTO.start -1}" src="/img/btn_prevpage.png" alt="이전페이지로 이동"></a>
            <th:block th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">
                <a href="javascript:;">
                    <span th:data-num="${i}" th:class="${responseDTO.page==i}?'pagenum currentpage':'pagenum'">[[${i}]]</span>
                </a>
            </th:block>
            <a href="javascript:;" th:if="${responseDTO.next}"  class="nextpage pbtn">
                <img th:data-num="${responseDTO.end +1}" src="/img/btn_nextpage.png" alt="다음페이지로 이동"></a>
            <a href="javascript:;" class="lastpage pbtn"><img th:if="${responseDTO.next}" th:data-num="${responseDTO.last}" src="/img/btn_lastpage.png" alt="마지막 페이지로 이동"></a>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const target = e.target
        // if(target.tagName !== 'A') {
        if(target.tagName == 'SPAN' || target.tagName == 'IMG'){
            const num = target.getAttribute("data-num")
            const formObj = document.querySelector("form")
            formObj.innerHTML += ` <input type='hidden' name='page' value='${num}'>`
            formObj.submit();
        }

    }, false)
</script>
</html>